{% extends 'base.html' %}

{% block content %}
<div class="d-flex p-4">
    <p class="text-justify text-light">Dungeons & Dragons is the legendary tabletop role-playing game of collective storytelling. Players create unique characters to embark on shared adventures in a world brought to life by the Dungeon Master. There are no screens or boards, only dice, imagination, and conversation. The thrill lies in infinite possibility; your choices truly shape the narrative. Will you negotiate with the dragon or attack on sight? The iconic dice rolls decide your fate, creating moments of glorious triumph and hilarious failure. It’s a game of strategy, creativity, and collaborative problem-solving. More than a game, it's a social experience that forges strong friendships. Around the table, players become heroes, weaving a tale of their own making. It is a timeless exercise in pure, unbridled imagination.</p>
</div>
{% endblock content %}