{% extends 'base.html' %}

{% block content %}
<div class="text-center mb-4 " >
    <a href="{{url_for('apidnd')}}" class="btn btn-danger">Voltar para todas as raças!</a>
</div>    <div>
        <h3 class="font-weight-bold text-light" style="text-align: center;">{{raceInfo.name}}</h3>
        <div class="p-4 text-light">
            <p>Move: {{raceInfo.speed}} feet</p>
            <p>Age: {{raceInfo.age}}</p>
            <p>Alignment: {{raceInfo.alignment}}</p>
            <p>Size: {{raceInfo.size}}</p>
            <p>Size description: {{raceInfo.size_description}}</p>
            <p>Language description: {{raceInfo.language_desc}}</p>

     </div>
{% endblock content %}